// =========================================
//  Mixins
// =========================================

@mixin img-layout {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	max-width: 100%;
	@content;
}

@mixin grid-bckgrnd($map) {
	@each $column, $color in $map {
		&-#{$column} {
			background-color: $color;
		}
	}
}

@mixin flex-cols($map) {
	@each $column, $flex-b in $map {
		&-#{$column} {
			flex-basis: $flex-b;
		}
	}
}
