/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
	padding: 0 10px;

	@media #{$break-medium} {
		max-width: 1400px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.row {
		display: flex;
		flex-direction: column;
		padding: 1em 10px;

		@media #{$break-medium} {
			flex-direction: row;
		}
	}
	.card {
		flex-basis: 100%;
	}
}

[class^=col] {
	margin-top: 10px;
	flex-basis: 100%;
	min-height: 25px;
	padding: 10px;
	border-radius: 5px;

	@media #{$break-medium} {
		display: flex;
		justify-content: center;
		margin-top: 0;
		align-items: center;
	}
}
// Grid System Background Colors
.theme.col {
	@include grid-bckgrnd($grid-backgrounds);
}
