/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media #{$break-medium} {
	.logo {
		margin-left: initial;
		margin-right: initial;
	}
	[class^=col] + [class^=col] {
		margin-left: 10px;
	}
	.centered {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.btn + .btn {
		margin-left: 10px;
	}

	.logo {
		margin-left: initial;
		margin-right: initial;
	}

	.col {
		@include flex-cols($flex-columns);
	}
	.nav-link {
		flex-basis: 100px;
	}
}
